* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: 'Stoked'; /* El nombre que quieres darle a la fuente */
    src: url('./src/assets/stoked.ttf') format('truetype'); /* Ruta correcta hacia la fuente */
    /* Si tienes otros formatos de la fuente (otf, woff, etc.), agrega líneas adicionales aquí */
  }


  /* Works on Firefox */
* {
    scrollbar-width: thin !important;
    scrollbar-color: #4f4a4a #2f2a2a !important;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #2f2a2a !important;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #4f4a4a !important;
    border-radius: 20px !important;
    border: 2px solid #2f2a2a !important;
  }