* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: 'Stoked'; /* El nombre que quieres darle a la fuente */
    src: url('./src/assets/stoked.ttf') format('truetype'); /* Ruta correcta hacia la fuente */
    /* Si tienes otros formatos de la fuente (otf, woff, etc.), agrega líneas adicionales aquí */
  }


  /* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: orange;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
  }

  *::-webkit-scrollbar-track:active {
    background: red;
  }